Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-CORS
Flask-SocketIO
psycopg2cffi
cryptography
python-dotenv
PyJWT
bcrypt
requests
langchain
langchain-community
langchain-text-splitters
pinecone>=3.0.0
pypdf
Authlib
pytest
pytest-flask
eventlet
python-multipart
Werkzeug
gunicorn
psycopg2-binary